/* ==========================================================================
   Author's custom styles
   ========================================================================== */
@import url (http://terranight.com.br/fonts/century_gothic/stylesheet.css);

.gc{
font-family:'century gothic';
color:#FFFFFF !important;
text-shadow:0px 2px 13px rgba(255, 255, 255, 0.3);
}
@font-face{
font-family: 'aldosemibold';
    src: url('../fonts/aldo_pc/aldo_pc-webfont.eot');
    src: url('../fonts/aldo_pc/aldo_pc-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/aldo_pc/aldo_pc-webfont.woff') format('woff'),
         url('../fonts/aldo_pc/aldo_pc-webfont.ttf') format('truetype'),
         url('../fonts/aldo_pc/aldo_pc-webfont.svg#aldosemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}
.aldo{
color:#FFFFFF !important;
font-family:'aldosemibold';
font-size:40px;
font-weight:lighter;
text-shadow:0px 2px 13px rgba(255, 255, 255, 0.3);
}

.nav{
padding: 8px;
}
a:active, a:hover, a:focus{
background-color:#111111;
color:#9F0034;
}
.carousel-control a:active, a:hover, a:focus{
background-color:transparent;
}
body{
background:url("../img/header-background.png") no-repeat #000000;

}
.navbar-inverse .navbar-nav .agenda > li > a{
color:#FFFFFF;
}
.navbar-inverse{
background-color:#000000;
border-color:#000000;
}
.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus{
color:#FFCC00 !important;
background-color:transparent;
}
.label-warning{
background-color:#F6931C;
}
.terranight-lg, 
.terranight-md,
.terranight-sm,
.terranight-xs{
position:absolute;
margin-top:15%;
z-index:1;
}
.terranight-lg{
top:30px;
width:210%;
right:0px;
}
.terranight-md{
width:210%;
position:absolute;
top:30px;
right:0px;
}
.terranight-xs{
position:absolute;
top:107px;
width:346%;
}
.carousel-control .glyphicons-chevron-left, .carousel-control .glyphicons-chevron-right, .carousel-control .icon-prev, .carousel-control .icon-next{
font-size:120px;
height:30px;
margin-left:-15px;
margin-top:-15px;
width:30px;
}
.carousel-control .icon-prev, .carousel-control .icon-next, .carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right{
display:inline-block;
position:absolute;
top:27%;
z-index:5;
}
.acompanhe div{
margin:3px;
}
.sessao{
background-image:url('../img/sessao.png');
background-repeat:no-repeat;
width:100%;
padding:20px;
}
.cadastro{
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background:url(data:image/svg+xml;
:ase64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzA2MTYyMyIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjI5JSIgc3RvcC1jb2xvcj0iIzM3MmM0YiIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzVkM2Q2YSIgc3RvcC1vcGFjaXR5PSIwLjk0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iIzRhMjQ0NSIgc3RvcC1vcGFjaXR5PSIwLjkyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTA3MWIiIHN0b3Atb3BhY2l0eT0iMC45MiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
/*linear-gradient*/
background:-webkit-gradient(linear,left top,right top,color-stop(rgba(6,22,35,0.95),0.01),color-stop(rgba(55,44,75,0.95),0.29),color-stop(rgba(93,61,106,0.94),0.51),color-stop(rgba(74,36,69,0.92),0.74),color-stop(rgba(53,7,27,0.92),1));
background:-webkit-linear-gradient(left,  rgba(6,22,35,0.95) 1%, rgba(55,44,75,0.95) 29%, rgba(93,61,106,0.94) 51%, rgba(74,36,69,0.92) 74%, rgba(53,7,27,0.92) 100%);
background:   -moz-linear-gradient(left,  rgba(6,22,35,0.95) 1%, rgba(55,44,75,0.95) 29%, rgba(93,61,106,0.94) 51%, rgba(74,36,69,0.92) 74%, rgba(53,7,27,0.92) 100%);
background:     -o-linear-gradient(left,  rgba(6,22,35,0.95) 1%, rgba(55,44,75,0.95) 29%, rgba(93,61,106,0.94) 51%, rgba(74,36,69,0.92) 74%, rgba(53,7,27,0.92) 100%);
background:        linear-gradient(left,  rgba(6,22,35,0.95) 1%, rgba(55,44,75,0.95) 29%, rgba(93,61,106,0.94) 51%, rgba(74,36,69,0.92) 74%, rgba(53,7,27,0.92) 100%);
/* FF3.6+ */
background:-webkit-gradient(linear, left top, right top, color-stop(1%,rgba(6,22,35,0.95)), color-stop(29%,rgba(55,44,75,0.95)), color-stop(51%,rgba(93,61,106,0.94)), color-stop(74%,rgba(74,36,69,0.92)), color-stop(100%,rgba(53,7,27,0.92)));
/* Chrome,Safari4+ */
background:-webkit-linear-gradient(left,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
background:   -moz-linear-gradient(left,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
background:     -o-linear-gradient(left,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
background:        linear-gradient(left,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
/* Chrome10+,Safari5.1+ */
/* Opera 11.10+ */
/* IE10+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(rgba(6,22,35,0.95),0.01),color-stop(rgba(55,44,75,0.95),0.29),color-stop(rgba(93,61,106,0.94),0.51),color-stop(rgba(74,36,69,0.92),0.74),color-stop(rgba(53,7,27,0.92),1));
/*@@prefixmycss->No equivalent*/
background:-webkit-linear-gradient(to right,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
background:   -moz-linear-gradient(to right,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
background:     -o-linear-gradient(to right,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
background:        linear-gradient(to right,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2061623', endColorstr='#eb35071b',GradientType=1 );
/* IE6-8 */
:;
}
.cadastro > .modal-header{
border-bottom:none;
}
.maps{
background-image:url('../img/sessao.png');
background-repeat:no-repeat;
width:100%;
padding:20px;
}
.agenda{
list-style:none;
padding:0px 20px 0px 20px;
}
.agenda > li > div > a,{
color:#FFFFFF;
text-decoration:none;
}
.agenda a{
color:#ffffff;
}
p, 
.agenda > div > a ,
.agenda > li > a:hover,
.agenda > li > a:focus
.agenda > li > a:active{
color:#000000 !important;
text-decoration:none;
}
.agenda  small{
color:#B0003A;
}
.agenda > .panel, .panel-faq{
background:none repeat scroll 0 0 rgba(0, 0, 0, 0);
}
.dia{
font-size:45px;
padding:0 14px;
position:absolute;
}
.mes{
font-size:33px;
margin:49px 48px;
position:absolute;
}
.agendaposition{
padding:0px 0px 0px 110px;
}
.input-group-addon{
background-color:#125758;
color:#FFFFFF;
}
.email{
color:#E8524A !important;
text-decoration:none !important;
}
.contatorodape > form > div{
margin-top:10px;
}
.marcador-footer{
right:0%;
position:absolute;
top:75px;
}
.carroseltopo{
height:32%;
margin-top:3%;
width:77%;
}
.albumtext span{
background:rgb(255,183,107);
/* Old browsers */
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background:url(data:image/svg+xml;
:ase64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPHJhZGlhbEdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgY3g9IjUwJSIgY3k9IjUwJSIgcj0iNzUlIj4KICAgIDxzdG9wIG9mZnNldD0iMCUiIHN0b3AtY29sb3I9IiNmZmI3NmIiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI0MSUiIHN0b3AtY29sb3I9IiNmZmE3M2QiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSI5OSUiIHN0b3AtY29sb3I9IiNmZjdjMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogICAgPHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjZmY3ZjA0IiBzdG9wLW9wYWNpdHk9IjEiLz4KICA8L3JhZGlhbEdyYWRpZW50PgogIDxyZWN0IHg9Ii01MCIgeT0iLTUwIiB3aWR0aD0iMTAxIiBoZWlnaHQ9IjEwMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
background:-moz-radial-gradient(center, ellipse cover,  rgba(255,183,107,1) 0%, rgba(255,167,61,1) 41%, rgba(255,124,0,1) 99%, rgba(255,127,4,1) 100%);
/* FF3.6+ */
background:-webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%,rgba(255,183,107,1)), color-stop(41%,rgba(255,167,61,1)), color-stop(99%,rgba(255,124,0,1)), color-stop(100%,rgba(255,127,4,1)));
/* Chrome,Safari4+ */
background:-webkit-radial-gradient(center, ellipse cover,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 41%,rgba(255,124,0,1) 99%,rgba(255,127,4,1) 100%);
/* Chrome10+,Safari5.1+ */
background:-o-radial-gradient(center, ellipse cover,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 41%,rgba(255,124,0,1) 99%,rgba(255,127,4,1) 100%);
/* Opera 12+ */
background:-ms-radial-gradient(center, ellipse cover,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 41%,rgba(255,124,0,1) 99%,rgba(255,127,4,1) 100%);
/* IE10+ */
background:radial-gradient(ellipse at center,  rgba(255,183,107,1) 0%,rgba(255,167,61,1) 41%,rgba(255,124,0,1) 99%,rgba(255,127,4,1) 100%);
/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffb76b', endColorstr='#ff7f04',GradientType=1 );
/* IE6-8 fallback on horizontal gradient */
:;
}
.faq-cat-content{
margin-top:25px;
}
.faq-cat-tabs li a{
background-color:#9F0034;
border:none;
color:#FFFFFF;
margin:1px;
padding:12px 9px;
}
.nav-tabs li a:focus,
.panel-heading a:focus{
outline:none;
}
.panel-heading a,
.panel-heading a:hover,
.panel-heading a:focus{
text-decoration:none;
color:#777777;
}
.faq-cat-content .panel-heading:hover{
background-image:url("../img/sessao.png");
opacity:0.9;
/*border-radius*/
-webkit-border-radius:60px;
   -moz-border-radius:60px;
        border-radius:60px;
padding:10px 10px 25px 10px;
}
.active-faq{
border-left:5px solid #888888;
}
.panel-faq .panel-heading .panel-title span{
font-size:13px;
font-weight:normal;
}
.headagenda .nav-tabs{
border-bottom:none;
}
.headagenda .nav{
background-color:#9F0034;
padding:1px;
/*border-radius*/
-webkit-border-radius:6px;
   -moz-border-radius:6px;
        border-radius:6px;
padding:2px 2px 2px 2px;
}
.headagenda .nav > li > a:hover, .nav > li > a:focus{
background-color:#FFFFFF;
color:#555555;
}
.headagenda .panel-group .panel-heading + .panel-collapse .panel-body{
border-top:none;
}
.jgaleria > .img-home-portfolio, .img-customer, .portfolio-item{
padding:0px;
margin:0px;
}
.headagenda .nav-tabs > li{
float:left;
margin:-1px;
}
.headagenda .nav-tabs > li > a{
/*border-radius*/
-webkit-border-radius:4px;
   -moz-border-radius:4px;
        border-radius:4px;
}
.headagenda .nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus{
border-width:0;
}
.btn-enviar{
background:url(../img/btnenviarfaq.png);
}
img.albumcapa{
width:100%;
}
address{
color:#FFFFFF;
}
.contatoForm{
color:#468847 !important;
}
.gc.meses{
color:#000000 !important;
}
.btn-warning{
color:#E5746E;
background-color:#E8524A;
border-color:#FF5154;
}
.btn-warning:hover,
.btn-warning:focus,
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning{
color:#E5746E;
background-color:#E8524A;
border-color:#FF5154;
}
.btn-warning:active,
.btn-warning.active,
.open .dropdown-toggle.btn-warning{
background-image:none;
}
.btn-warning.disabled,
.btn-warning[disabled],
fieldset[disabled] .btn-warning,
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled:active,
.btn-warning[disabled]:active,
fieldset[disabled] .btn-warning:active,
.btn-warning.disabled.active,
.btn-warning[disabled].active,
fieldset[disabled] .btn-warning.active{
background-color:#E5746E;
border-color:#FF5154;
}
.menu{
padding:0px 20px;
}
.navbar-collapse{
max-height:440px !important;
}
.agenda .panel-body{
/* IE9 SVG, needs conditional override of 'filter' to 'none' */
background:url(data:image/svg+xml;
:ase64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIxMDAlIiB5Mj0iMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIxJSIgc3RvcC1jb2xvcj0iIzA2MTYyMyIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjI5JSIgc3RvcC1jb2xvcj0iIzM3MmM0YiIgc3RvcC1vcGFjaXR5PSIwLjk1Ii8+CiAgICA8c3RvcCBvZmZzZXQ9IjUxJSIgc3RvcC1jb2xvcj0iIzVkM2Q2YSIgc3RvcC1vcGFjaXR5PSIwLjk0Ii8+CiAgICA8c3RvcCBvZmZzZXQ9Ijc0JSIgc3RvcC1jb2xvcj0iIzRhMjQ0NSIgc3RvcC1vcGFjaXR5PSIwLjkyIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMzNTA3MWIiIHN0b3Atb3BhY2l0eT0iMC45MiIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
/*linear-gradient*/
background:-webkit-gradient(linear,left top,right top,color-stop(rgba(6,22,35,0.95),0.01),color-stop(rgba(55,44,75,0.95),0.29),color-stop(rgba(93,61,106,0.94),0.51),color-stop(rgba(74,36,69,0.92),0.74),color-stop(rgba(53,7,27,0.92),1));
background:-webkit-linear-gradient(left,  rgba(6,22,35,0.95) 1%, rgba(55,44,75,0.95) 29%, rgba(93,61,106,0.94) 51%, rgba(74,36,69,0.92) 74%, rgba(53,7,27,0.92) 100%);
background:   -moz-linear-gradient(left,  rgba(6,22,35,0.95) 1%, rgba(55,44,75,0.95) 29%, rgba(93,61,106,0.94) 51%, rgba(74,36,69,0.92) 74%, rgba(53,7,27,0.92) 100%);
background:     -o-linear-gradient(left,  rgba(6,22,35,0.95) 1%, rgba(55,44,75,0.95) 29%, rgba(93,61,106,0.94) 51%, rgba(74,36,69,0.92) 74%, rgba(53,7,27,0.92) 100%);
background:        linear-gradient(left,  rgba(6,22,35,0.95) 1%, rgba(55,44,75,0.95) 29%, rgba(93,61,106,0.94) 51%, rgba(74,36,69,0.92) 74%, rgba(53,7,27,0.92) 100%);
/* FF3.6+ */
background:-webkit-gradient(linear, left top, right top, color-stop(1%,rgba(6,22,35,0.95)), color-stop(29%,rgba(55,44,75,0.95)), color-stop(51%,rgba(93,61,106,0.94)), color-stop(74%,rgba(74,36,69,0.92)), color-stop(100%,rgba(53,7,27,0.92)));
/* Chrome,Safari4+ */
background:-webkit-linear-gradient(left,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
background:   -moz-linear-gradient(left,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
background:     -o-linear-gradient(left,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
background:        linear-gradient(left,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
/* Chrome10+,Safari5.1+ */
/* Opera 11.10+ */
/* IE10+ */
background:-webkit-gradient(linear,left top,left bottom,color-stop(rgba(6,22,35,0.95),0.01),color-stop(rgba(55,44,75,0.95),0.29),color-stop(rgba(93,61,106,0.94),0.51),color-stop(rgba(74,36,69,0.92),0.74),color-stop(rgba(53,7,27,0.92),1));
/*@@prefixmycss->No equivalent*/
background:-webkit-linear-gradient(to right,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
background:   -moz-linear-gradient(to right,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
background:     -o-linear-gradient(to right,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
background:        linear-gradient(to right,  rgba(6,22,35,0.95) 1%,rgba(55,44,75,0.95) 29%,rgba(93,61,106,0.94) 51%,rgba(74,36,69,0.92) 74%,rgba(53,7,27,0.92) 100%);
/* W3C */
filter:progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2061623', endColorstr='#eb35071b',GradientType=1 );
/* IE6-8 */
/*border-radius*/
-webkit-border-radius:30px;
   -moz-border-radius:30px;
        border-radius:30px;
margin:20px 30px auto 20px;
padding:10px 20px;
}
a.social:active, a.social:hover, a.social:focus{
/*border-radius*/
-webkit-border-radius:20px;
   -moz-border-radius:20px;
        border-radius:20px;
opacity:0.3;
}
.btn-enviar{
background:url("../img/btnenviarfaq.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
border:medium none;
padding:20px 65px;
}
.btn-enviar button:active, button:hover, button:focus{
opacity:0.40;
}
.ttdata{
   color: #FFCC00 !important;
/*text-shadow:-2px 0px 14px rgba(214, 122, 217, 0.9);*/
}
/* custom styling of the directional arrows */
                .ekko-lightbox-container{
position:relative;
}
.ekko-lightbox-nav-overlay{
z-index:100;
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
}
.ekko-lightbox-nav-overlay a{
opacity:0;
/*transition*/
-webkit-transition:opacity 0.5s;
   -moz-transition:opacity 0.5s;
     -o-transition:opacity 0.5s;
        transition:opacity 0.5s;
color:#fff;
font-size:30px;
height:100%;
width:49%;
display:block;
padding-top:45%;
text-shadow:2px 2px 4px #000;
filter:dropshadow(color=#000, offx=2, offy=2);
z-index:100;
}
.ekko-lightbox-nav-overlay a:empty{
width:49%;
/* removes glyphicons :empty { width:*/
* removes glyphicons:empty { width:1em;
}
*/
                }
                .ekko-lightbox a:hover{
opacity:1;
text-decoration:none;
}
.ekko-lightbox .glyphicon-chevron-left{
padding-left:15px;
float:left;
left:0;
text-align:left;
}
.ekko-lightbox .glyphicon-chevron-right{
padding-right:15px;
float:right;
right:0;
text-align:right;
}
/* use this to get your footer text left aligned - bootstraps modal default aligns them right */
                .ekko-lightbox .modal-footer{
text-align:left;
}
/* the rest of this css is custom styling for this page, you can ignore it */
        /* i like padding */
                div.row > div > div.row{
margin-bottom:15px;
}
body{
padding-bottom:50px;
}
div.top-header{
margin-bottom:100px;
}
h3.page-header{
margin-top:50px;
}
figure{
position:relative;
}
figure figcaption{
font-size:22px;
color:#fff;
text-decoration:none;
bottom:10px;
right:20px;
position:absolute;
background-color:#000;
}
.modal-body{
background-image:url("../img/sessao.png");
background-repeat:no-repeat;
/*background-size*/
-webkit-background-size:500%;
   -moz-background-size:500%;
     -o-background-size:500%;
        background-size:500%;
}
.gc.ttdata.posicaodata{
font-size:35px;
line-height:35px;
text-align:right;
}

.fbAvatar{
        border: none;
        visibility: visible;
        width: 190px;
        height: 60px;
        display: inline-block;
        vertical-align: top;
}

.fbFriendFaces{
        border: none;
        visibility: visible;
        width: 444px;
        height: 150px;
        position: relative;
        overflow: hidden;
        bottom: 93px;
}

.parentFbFaces{
        overflow: hidden;
        display: inline-block;
        height: 50px;
}

.likebarcontent{
		overflow: hidden;
		width: 100%;
}
.traco{
	background: url(../img/traco.jpg) right repeat-x; 
	display: inline-block; 
	width: 20%; 
	height: 20px
}